* {
  padding: 0;
  margin: 0;
}

html {
   box-sizing: border-box;  
}

header {
  width: 100%;
}

header .fa-tornado {
  font-size: 0.8em; 
  color: rgb(116, 224, 214);  
}

header h1  {
  font: 700 1.8em Supria Sans, sans-serif;
  margin: 75px 0 0 75px;
}

nav {
  width: 25em;
  float: right;
  margin-top: -25px;
}

nav a {
    font: 900 1em Supria Sans, sans-serif;
    color: #f5f2f2;
    text-transform: uppercase;
    text-decoration: none;    
}

body {
   background: rgb(26, 26, 26); 
}

h1 {
    font: 700 1.4em Supria Sans, sans-serif;
    color: #f5f2f2;  
}

p {
  color: #f5f2f2;  
}

#login-container {
   width: 40em;
   height: 325px;
   border: 1px solid rgba(168, 168, 168, 0.2); 
   margin: 175px auto 0 auto;
   padding: 50px 75px;
}

#login-container h1 {
    margin-bottom: 25px;
}


#login-container input[type='text'], 
#login-container input[type='password'], 
#project-container input[type='text'],
#server-container input[type='text'],  
#server-container input[type='url'],
#server-container input[type='password'] {
    width: 100%;
    height: 45px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font: 200 1em Supria Sans, sans-serif;
    color: #f5f2f2;
    border: 1px solid rgba(168, 168, 168, 0.2); 
    background: none;
}

::placeholder {
    color: #f5f2f2;  
    font: 200 1em Supria Sans, sans-serif;
}


#login-container input[type='submit'] {
    border: 1px solid rgb(116, 224, 214);
    background: none;
    color:  rgb(116, 224, 214);
    width: 100%;
    height: 65px;
    letter-spacing: 2px;
    font: 200 1em Supria Sans, sans-serif;
    cursor: pointer;
    margin-top: 25px;
}

#projects {
  width: 100%;
}

.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(168, 168, 168, 0.2); 
}

.project-row {
    color: #f5f2f2;
    font: 600 1em Supria Sans, sans-serif;
    flex-basis: 25%;
    text-transform: capitalize;
    color:rgb(116, 224, 214);
}

.project-row span {
    font-weight: 300;
    color: #f5f2f2;  
}

.project-row a {
    font: 600 1em Supria Sans, sans-serif;
    color: #f5f2f2;  
}

.project-row a:hover {
    font: 600 1em Supria Sans, sans-serif;
    color:rgb(116, 224, 214);
}

.development {
  width: 10px;
  height: 8px;
  background: coral;
  border-radius: 75px;
  margin: 5px 5px 0 5px;

}

.production {
  width: 10px;
  height: 8px;
  background: rgb(116, 224, 214);
  border-radius: 75px;
  margin: 5px 5px 0 5px;
}


#dashboard-content {
    margin: 175px auto 0 auto;
    width: 75%;
  }


#dashboard-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto 75px 0;
}

.add-link {
    padding: 10px 50px;
    cursor: pointer;
    text-decoration: none; 
    margin: 50px auto 0 auto;
    display: block;
    text-align: center;
    height: 30px;
    padding-top: 20px;
    width: 25%;
    border: 1px solid rgb(116, 224, 214);
    background: none;
    color:  rgb(116, 224, 214);
    letter-spacing: 2px;
    font: 200 1em Supria Sans, sans-serif;
}

.add-link.server {
    width: 91%;
    background:  rgb(116, 224, 214);
    color:  rgb(26, 26, 26);
    font-weight: 400;
}


.filter form select {
    float: right;
    background: none;
    border: 1px solid rgba(168, 168, 168, 0.2); 
    width: 300px;
    height: 40px;
    color: #f5f2f2;
    outline: none;
    letter-spacing: 2px;
    font: 200 1em Supria Sans, sans-serif;
}

#project-container, #server-container, #production-container  {
    margin: 175px auto 0 auto;
    width: 75%;
}

#project-container form select, #production-container form select {
    float: right;
    background: none;
    border: 1px solid rgba(168, 168, 168, 0.2); 
    width: 100%;
    height: 40px;
    color: #f5f2f2;
    outline: none;
    margin: 15px 0 50px 0;
    letter-spacing: 2px;
    font: 200 1em Supria Sans, sans-serif;
}

#project-container textarea {
    width: 100%;
    height: 200px;
    margin-bottom: 25px;
    padding-top: 10px;
    letter-spacing: 2px;
    font: 200 1em Supria Sans, sans-serif;
    border: 1px solid rgba(168, 168, 168, 0.2); 
    background: none;
    color: #f5f2f2;
}

#project-container input[type='button'] {
    border: 1px solid rgb(116, 224, 214);
    background: none;
    color:  rgb(116, 224, 214);
    width: 100%;
    height: 65px;
    letter-spacing: 2px;
    font: 200 1em Supria Sans, sans-serif;
    cursor: pointer;
    margin: 25px 0;
}

#project-container input[type='submit'], #server-container input[type='submit'], #production-container input[type='submit']  {
    border: 1px solid rgb(116, 224, 214);
    background: none;
    color:  rgb(116, 224, 214);
    width: 100%;
    height: 65px;
    letter-spacing: 2px;
    font: 200 1em Supria Sans, sans-serif;
    cursor: pointer;
    margin-top: 25px;
}

input, textarea {
   outline: none; 
}

#project-container h1, #server-container h1, #dashboard-content h1   {
    margin: 0 0 25px 0;
  }


.overlay {
   width: 100%;
   height: 100%;
   background: rgba(0,0,0, 0.7);
   z-index: 99999;
   position: absolute;
   top: 0;
   left: 0;
}

#message-popup {
  margin: 25% auto 0 auto;
  width: 350px;
  height: 135px;
  background: #1f1f1f;
  padding: 25px;

}

#message-popup h3 {
    font: 900 1.2em Supria Sans, sans-serif;
    text-align: center;
    color: #fafafa;
    margin: 0 0 15px 0;
}

#message-popup p {
    font: 300 1em Supria Sans, sans-serif;
    text-align: center;
    color: #fafafa;
}

#message-popup button {
    font: 900 1em Supria Sans, sans-serif;
    background: rgb(116, 224, 214);
    color: rgb(26, 26, 26);
    border: none;
    text-transform: uppercase;
    width: 220px;
    height: 45px;
    margin: 20px auto 0 auto;
    display: block;
    cursor: pointer;
}