{% extends 'base.html' %}
{% block content %}
<div id="project-container">
  <h1>Add Project</h1>  
   <form method="post" action="/manage/project">
      <input type="text" name="projectname" placeholder=" Project Name" required><br>
      <select name="database_name">
        <option value="database" selected>Database:</option>
        <option value="mysql">MySQL</option>
        <option value="mongodb">MongoDB</option>
        <option value="postgresql">PostgreSQL</option>
        <option value="sqlite">SQLite</option>
        <option value="cockroad_db">Cockroach DB</option>
        <option value="couchdb">CouchDB</option>
     </select><br>
      <input type="text" name="dbname" placeholder=" Database" required><br>
      <input type="text" name="tablename" placeholder=" Table Name" required><br>
      <input type="text" name="columnname" placeholder=" Column Name" required><br>
      <input type="text" name="columnname2" placeholder=" Column Name" required><br>
      <input type="text" name="columnname3" placeholder=" Column Name" required><br>
      <input type="button" value="Add Column" id="add-column"><br>
      <select name="tech_stack">
         <option value="tech" selected>Web Framework:</option>
         <option value="flask">Flask</option>
         <option value="bottle">Bottle</option>
         <option value="django">Django</option>
         <option value="sinatra">Sinatra</option>
         <option value="ruby on rails">Ruby on Rails</option>
         <option value="fastapi">FastAPI</option>
         <option value="php">PHP</option>
      </select><br>
      <textarea name="description" placeholder=" Description"></textarea><br>
      <input type="submit" value="Add Project" id="dashboard-add-project">
   </form>
</div>
{% end %}